[submodule "libs/retina-geolocator"]
	path = libs/retina-geolocator
	url = https://github.com/offworldlabs/retina-geolocator.git
[submodule "libs/retina-tracker"]
	path = libs/retina-tracker
	url = https://github.com/offworldlabs/retina-tracker.git
[submodule "libs/retina-custody"]
	path = libs/retina-custody
	url = https://github.com/offworldlabs/retina-custody.git
[submodule "libs/retina-simulation"]
	path = libs/retina-simulation
        url = https://github.com/offworldlabs/retina-simulation.git
[submodule "libs/retina-analytics"]
	path = libs/retina-analytics
	url = https://github.com/offworldlabs/retina-analytics.git
